.useInput{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
    height: 1.5vw;
}

label{
    width: 98%;
    margin-top: 5%;
    font-size: 22px;
    font-family: $headerFont;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 5%;
}

.submit{
    width: 3vw;
    height: 1.5vw;
}